.my_wanllet_head{
	width: 100%;
	padding: 0 30upx;
	background-color: #FF5040;
	padding-top: 28upx;
}

.money_can{
	width: 100%;
	height: 70upx;
	line-height: 70upx;
	color: #ffffff;
	font-size: 26upx;
}

.money_extract{
	width: 100%;
	height: 74upx;
	display: flex;
	
}

.gold_num{
	width: 522upx;
	height: 74upx;
	line-height: 74upx;
	color: #ffffff;
	font-size: 45upx;
}

.extract_btn{
	width: 168upx;
	height: 74upx;
	line-height: 74upx;
	text-align: center;
	color: #ffffff;
	border-radius: 37upx;
	border: 2upx #ffffff solid;
	font-size: 38upx;
}

.my_wallet_bt{
	width: 100%;
	height: 85upx;
	display: flex;
}

.extract_num{
	width: 345upx;
	height: 85upx;
	line-height: 85upx;
	color: #F2F1F1;
	font-size: 25upx;
}

.extract_rate{
	width: 345upx;
	height: 85upx;
	line-height: 85upx;
	text-align: right;
	color: #F2F1F1;
	font-size: 25upx;
}

.money_total{
	width: 100%;
	height: 133upx;
	background-color: #FE8D72;
	padding: 30upx;
	display: flex;
}

.money_total_list{
	width: 230upx;
	height: 73upx;
	border-right: 2upx #F2F2F2 solid;
}

.money_total_list text{
	display: block;
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 25upx;
	height: 25upx;
	line-height: 25upx;
}

.money_total_list span{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 28upx;
	color: #FFFFFF;
	height: 28upx;
	line-height: 28upx;
	margin-top: 18upx;
}

.money_total_list:last-of-type{
	border-right: 0;
}

.bill_detail{
	width: 100%;
}

.bill_title{
	width: 100%;
	display: flex;
	height: 78upx;
}

.bill_earn,.bill_expend{
	width: 50%;
	height: 78upx;
	line-height: 78upx;
	font-size: 32upx;
	text-align: center;
	border-bottom: 2upx #F0F0F0 solid;
}



.active{
	border-bottom-color: #FF5040;
	font-weight: 600;
}

.item_content{
	width: 100%;
	display: flex;
	font-size: 26upx;
	color: #999999;
}

.bill_time{
	width: 130upx;
}

.bill_content{
	width: 510upx;
}

.bill_num{
	width: 50upx;
	color: #ff5040;
	text-align: right;
}

